.main-section {
    background-color: #232323;
}

h2, h3, p {
    color: white;
    font-family: Yanone Kaffeesatz;
}

a {
    color: #757575;
    font-family: roboto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
 font-size: 60px;
 text-align: center;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

img {
  width: 330px;
  height: 190px;
}

.about-container {
    display: flex;
}

.about-text {
    margin-left: 30px;
}


.time-list {
    display: flex;
}

.time-text {
   margin-left: 30px;
}